@charset "UTF-8";
h1{
	text-align: center;
	padding:100px;

}



.container{

	text-align: center;
	margin:20px auto;
	padding:100px 80px;
}


.bg-light {
    background-color: #343a40!important;




.btn {

margin-center: auto;
}