.login-area {
	width: 700px;
	text-align: center;
	margin:20px auto;
	padding:100px 80px;
}
h1{

	margin:20px auto;
}
.toroku {
	margin:20px auto;
	background-color: red;

}

.navbar-nav{
	text-align: right;
}